			<div class="btn-menu" onclick="window.location.href = '#/Municipio'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Municipio
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Facultad'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Facultad
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Carrera'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Carrera
		    </div>
                        <div class="btn-menu" onclick="window.location.href = '#/Profesor'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Profesor
		    </div>
                        <div class="btn-menu" onclick="window.location.href = '#/Estudiante'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Estudiante
		    </div>
                        <div class="btn-menu" onclick="window.location.href = '#/Horario'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Horario
		    </div>
                        <div class="btn-menu" onclick="window.location.href = '#/Matricula'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Matricula
		    </div>
                        <div class="btn-menu" onclick="window.location.href = '#/Materia'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Materia
		    </div>