

<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Profesor</div>
    <div class="panel-body">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Profesor</button>
        </div>
        <table class="resultados table table-striped">
            <tr>
                <th>
                    Nombres
                </th>
                <th>
                    Apellidos
                </th>
                <th>
                    Documento
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                <td>{{row.nombre}}</td>
                <td>{{row.apellidos}}</td>
                <td>{{row.documento}}</td>
                <td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
                    <button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Profesor</div>
    <div class="panel-body">

        <div class="form-group col-md-6 col-center" ng-class="errores.nombre ? 'error' : ''">
            <label for="nombre">Nombre</label>
            <input id="nombre" 
                   class="form-control" 
                   type="text"
                   ng-model="datosFormulario.nombre"
                   placeholder="nombre"/>
            <div ng-show="errores.nombre">{{errores.nombre}}</div>
            <label for="apellidos">Apellidos</label>
            <input id="apellidos" 
                   class="form-control" 
                   type="text"
                   ng-model="datosFormulario.apellidos"
                   placeholder="apellidos"/>
            <label for="documento">Documento</label>
            <input id="documento" 
                   class="form-control" 
                   type="text"
                   ng-model="datosFormulario.documento"
                   placeholder="documento"/>
        </div> 
        <div class="row">
            <div class="col-sm-offset-5 col-sm-2 text-center">
                <button type="button" class="btn btn-default btn-primary" ng-click="guardar()">Aceptar</button>
                <button type="button" class="btn btn-default btn-danger" ng-click="cancelar()">Cancelar</button>
            </div>    
        </div>
    </div>
</div>

